solutions/ALMLabCanvas/Workflows/FlussoconVariabile-C5BFA45E-1AA1-EC11-B400-002248806A81.json
{"properties":{"connectionReferences":{"shared_sharepointonline":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"user9_sharedsharepointonline_021b2"},"api":{"name":"shared_sharepointonline"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"},"varStringaProvaCurrentValue (user9_varStringaProvaCurrentValue)":{"defaultValue":"CURRENT_VALUE","type":"String","metadata":{"schemaName":"user9_varStringaProvaCurrentValue"}},"varStringaProvaDefaultValue (user9_varStringaProvaDefaultValue)":{"defaultValue":"DEFAULT_VALUE","type":"String","metadata":{"schemaName":"user9_varStringaProvaDefaultValue"}},"varStringaProvaWIthValues (user9_varStringaProvaWIthValues)":{"defaultValue":"CURRENT_VALUE","type":"String","metadata":{"schemaName":"user9_varStringaProvaWIthValues"}},"varSharePointSite (user9_varSharePointSite)":{"defaultValue":"https://intesasanpaolo.sharepoint.com/sites/CoE","type":"String","metadata":{"schemaName":"user9_varSharePointSite"}},"varSharePointList (user9_varSharePointList)":{"defaultValue":"8bf18166-aa46-4c0a-ada4-73a5d9a0e50b","type":"String","metadata":{"schemaName":"user9_varSharePointList"}}},"triggers":{"manual":{"metadata":{"operationMetadataId":"6e154010-2758-4104-959e-68bd7f97510c"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialize_paStringaProvaDefaultValue":{"runAfter":{},"metadata":{"operationMetadataId":"aa5964a3-e3b7-4be0-8962-c15feed1fa7b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"paStringaProvaDefaultValue","type":"string","value":"@parameters('varStringaProvaDefaultValue (user9_varStringaProvaDefaultValue)')"}]}},"Initialize_paStringaProvaWIthValues":{"runAfter":{"Initialize_paStringaProvaCurrentValue":["Succeeded"]},"metadata":{"operationMetadataId":"aa5964a3-e3b7-4be0-8962-c15feed1fa7b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"paStringaProvaWIthValues","type":"string","value":"@parameters('varStringaProvaWIthValues (user9_varStringaProvaWIthValues)')"}]}},"Initialize_paStringaProvaCurrentValue":{"runAfter":{"Initialize_paStringaProvaDefaultValue":["Succeeded"]},"metadata":{"operationMetadataId":"aa5964a3-e3b7-4be0-8962-c15feed1fa7b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"paStringaProvaCurrentValue","type":"string","value":"@parameters('varStringaProvaCurrentValue (user9_varStringaProvaCurrentValue)')"}]}},"Get_items":{"runAfter":{"Initialize_paStringaProvaWIthValues":["Succeeded"]},"metadata":{"operationMetadataId":"13591667-c389-4f49-9403-e87bc2a6c783"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sharepointonline","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline"},"parameters":{"dataset":"@parameters('varSharePointSite (user9_varSharePointSite)')","table":"@parameters('varSharePointList (user9_varSharePointList)')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}}},"schemaVersion":"1.0.0.0"}